:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;

  /* Colors */
  --primary-cl: #111111;
  --secondary-cl: rgba(255, 255, 255, 0.7);
  --accent-cl: #fd9222;
  --additional-cl: rgba(17, 17, 17, 0.7);
  --light-cl: #ffffff;
  /* Background colors */
  --body-bg-cl: #fafafa;
  --light-bg-cl: rgba(17, 17, 17, 0.6);
  --dark-bg-cl: #1e1823;
  --beige-bg-cl: #fcf1e0;

  /* Others */
  --items: 4;
  --indent: 32px;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--body-bg-cl);

  /* background-image: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E'); */
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  color: currentColor;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Гумові картинки */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  cursor: pointer;
}
/* reset end */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.section-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-cl);
}
.section-title-accent {
  color: var(--accent-cl);
}
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--light-cl);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn-accent {
  background-color: var(--accent-cl);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accent-cl);
  background-color: var(--beige-bg-cl);
}
.btn-light {
  color: var(--light-cl);
  border-color: var(--light-cl);
}
.btn-light:hover,
.btn-light:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: var(--accent-cl);
}
.btn-dark:hover,
.btn-dark:focus {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
}
.header-socials {
  display: flex;
  gap: 14px;
}
.header-socials-item {
}
.header-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  color: var(--primary-cl);

  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.header-socials-link:hover {
  color: var(--accent-cl);
  border-color: var(--beige-bg-cl);
}
.header-socials-icon {
  fill: currentColor;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  margin-right: 365px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
  font-style: italic;
}
.logo-icon {
}

/* Navigation */
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-list-item {
}
.nav-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  padding-bottom: 80px;
}
.hero-container {
  padding: 40px;
  padding-top: 381px;

  border-radius: 30px;
  background-color: var(--light-bg-cl);
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url('../images/hero/hero_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--light-cl);
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-list {
  display: flex;
  gap: 14px;
}
.hero-list-item {
}
.hero-list-btn {
}
.hero-link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--light-cl);
}

.hero-link-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  background-color: var(--light-cl);
  border-radius: 50%;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  padding: 50px 0;
  background-color: var(--dark-bg-cl);

  /* max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-image: url('../images/hero/people-office-1.jpg');
  background-repeat: no-repeat;
  background-position: center; */
}
.benefits-container {
  width: 1132px;
}
.benefits-title {
}
.benefits-list {
  display: flex;
  gap: 88px;
}
.benefits-list-item {
  flex-basis: calc((100% - 88px * 2) / 3);
}
.benefits-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-list-subtitle {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
  color: var(--light-cl);
}
.benefits-list-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--secondary-cl);
}

/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  background-color: var(--light-bg);
}
.ingridients-list {
}
.ingridients-list-item {
  padding: 28px 23px;
  border: 1px solid transparent;
  border-radius: 15px;
}
.ingridients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: var(--light-cl);
}
.ingridients-list-item:nth-child(4n + 1) {
  background-color: var(--accent-cl);
  color: var(--light-cl);
}
.ingridients-list-item:nth-child(2n) {
  background-color: var(--light-cl);
  border-color: var(--accent-cl);
}
.ingridients-list-img {
}
.ingridients-list-caption {
  margin-top: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-container {
  display: flex;
  gap: 20px;
}
.made-title {
}
.made-left-side {
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
}
.made-pic {
}
.made-right-side {
  padding: 32px;
  border-radius: 15px;
  background: var(--light-cl);
}
.made-subtitle {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
  padding-left: 16px;
}
.made-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
/**
  |============================
  | Products styles
  |============================
*/
.products {
  background-color: var(--light-bg);
}
.products-title {
}
.products-list {
  --indent: 18px;
  row-gap: 24px;

  text-align: center;
}
.products-list-item {
  padding: 32px 20px;
  background-color: var(--light-cl);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.products-list-ill {
}
.products-list-heading {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-list-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.products-list-price {
  width: fit-content;
  margin: 0 auto;
  padding: 8px 20px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--body-bg-cl);
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  --indent: 16px;
  --items: 3;
}
.bestsellers-list-item {
  background-color: var(--light-cl);
  border-radius: 15px;
  overflow: hidden;
}
.bestsellers-list-img {
}
.bestsellers-wrapper {
  padding: 28px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background-color: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.bestsellers-list-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
}
.reviews-title {
}
.reviews-list {
  --items: 3;
  --indent: 28px;

  padding-top: 42px;
  margin-bottom: 50px;
}
.reviews-list-item {
  padding: 24px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--light-cl);

  box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-list-thumb {
  margin: 0 auto;
  margin-top: -66px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.reviews-list-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews-list-author {
  margin-top: 18px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding-top: 50px;
  padding-bottom: 62px;
  background-color: var(--dark-bg-cl);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-slogan {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  display: flex;
  gap: 50px;
  font-style: normal;
}
.footer-address-left {
}
.footer-address-subject {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--light-cl);
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer-contatcs {
}
.footer-menu {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-cl);
}
/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Contacts */
.contacts {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-cl);
}

.astronaut {
  /* stars */
  --color1: red;
  /* astronaut */
  --color2: lightgreen;
}
.astronaut:hover {
  --color1: blueviolet;
  --color2: hotpink;
}
