:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;

  /* Colors */
  --primary-color: #111111;
  --light-bg: rgba(17, 17, 17, 0.6);

  /* Others */
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  color: var(--primary-color);
}
.section {
}
.link {
  color: currentColor;
  text-decoration: none;
}
.list {
  list-style: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-nav {
}
.header-socials {
}
.header-socials-item {
}
.header-socials-link {
}
.header-socials-icon {
}

/* Logo */
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
  font-style: italic;
}
.logo-icon {
}

/* Navigation */
.nav {
}
.nav-list {
}
.nav-list-item {
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: var(--light-bg);
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.hero-list {
}
.hero-list-item {
}
.hero-list-btn {
}
.hero-link {
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
}
.benefits-title {
}
.benefits-list {
}
.benefits-list-item {
}
.benefits-list-subtitle {
}
.benefits-list-desc {
}

/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  background-color: var(--light-bg);
}
.ingridients-title {
}
.ingridients-list {
}
.ingridients-list-item {
}
.ingridients-list-img {
}
.ingridients-list-caption {
}
/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-title {
}
.made-pic {
}
.made-subtitle {
}
.made-list {
}
.made-list-item {
}

/**
  |============================
  | Products styles
  |============================
*/
.products {
  background-color: var(--light-bg);
}
.products-title {
}
.products-list {
}
.products-list-ill {
}
.products-list-heading {
}
.products-list-category {
}
.products-list-price {
}

/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
}
.bestsellers-list-item {
}
.bestsellers-list-img {
}
.bestsellers-list-caption {
}

/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-list-item {
}
.reviews-list-avatar {
}
.reviews-list-author {
}
.reviews-list-text {
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.footer-slogan {
}
.footer-address {
}
.footer-address-subject {
}
.footer-socials {
}
.footer-contatcs {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
}

/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Contacts */
.contacts {
}
.contacts-item {
}
.contacts-link {
}
