/**
  |============================
  | Flexbox properties
  |============================
*/

.flex-container {
  /* display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;

  row-gap: 40px;
  column-gap: 20px; */

  /* justify-content: space-between; */

  /* Default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* flex-wrap: nowrap; */
}

.flex-element {
  /* flex-basis: calc((100% - 20px * 3) / 4); */
  /* Default properties */
  /* flex-basis: auto; */
  /* flex-shrink: 1; */
  /* flex-grow: 0; */
}

.flex-element {
  /* margin-right: 20px; */
}

/**
  |============================
  | Flexbox grid
  |============================
*/
:root {
  --indent: 30px;
  --items: 4;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.team-list {
  --items: 6;
}
.gallery-list {
  --items: 3;
  --indent: 60px;
}
